body {
 position: relative;
 padding: 10px;
 font: 14px 'Lato', sans-serif;
}

body, html {
 margin: 0;
 padding: 0;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index:-1;
  /*to edit the opacity effect change the percentage below */
  -webkit-filter: brightness(0.75);
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index:-1;
  /*to edit the opacity effect change the percentage below */
  -webkit-filter: brightness(0.75);
}

a, a:hover, a:focus{
  color: #00B7FF;
}

.container{
  margin-top: 50px;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

#navbar{
  padding-top: 3px;
  padding-bottom: 3px;
}

.login-favs li a:hover, .nav>li>a:focus{
  background: rgb(157,73,54);
  background: linear-gradient(to bottom, rgba(157,73,54,1) 0%, rgba(80,39,34,1) 100%);
  border: none;
}

#navbar > ul.nav.navbar-nav.navbar-right > li:nth-child(1) > button,
#navbar > ul.nav.navbar-nav.navbar-right > li:nth-child(2) > button,
body > div > div > div:nth-child(2) > div > div > div.panel-heading > button{
  background: rgb(91,195,255);
  background: linear-gradient(to bottom, rgba(91,195,255,1) 0%, rgba(56,126,186,1) 100%);
  padding: 10px;
  margin-right: 10px;
  border: none;
}

.navbar-custom, .panel-heading{
  background: rgb(157,73,54);
  background: linear-gradient(to bottom, rgba(157,73,54,1) 0%, rgba(80,39,34,1) 100%);
}

.navbar-custom .container-fluid{
  padding-left: 30px;
  padding-right: 30px;
}

#navbar > ul.nav.navbar-nav.navbar-right{
  padding-top: 5px;
  padding-bottom: 5px;
}

body > div > div > div:nth-child(2) > div > div > div.panel-heading > a{
  position: absolute;
  padding-top: 11px;
  padding-bottom: 11px;
}

.panel-primary{
  border: 1px solid rgb(157,73,54);
}

.panel-primary>.panel-heading {
  background-color: transparent;
  border: none;
  height: 60px;
  width: 100.1%;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  font-family: "Cormorant SC";
  background: transparent;
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: 800;
}

.jumbotron p {
  font-size: 30px;
  font-style: italic;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background: linear-gradient(#333, black);
    opacity: 0.5;
}

.jumbotron .caption {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: #fff;
}

/* Login Page */
#movie-app-login{
  position: unset;
}

.container-login {
  position: absolute;
  width: 350px;
  height: 283px;
  border: 1px solid rgb(91,195,255);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
}

.titlePanel {
  position: relative;
  width: 350px;
  height: 50px;
  background: rgb(91,195,255);
  background: linear-gradient(to bottom, rgba(91,195,255,1) 0%, rgba(56,126,186,1) 100%);
}

.titlePanel > h1 {
	position: absolute;
	color: rgb(255,255,255);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	padding:0;
	top:15px;
	left: 10px;
}

.loginButton {
  position: relative;
  height: 232px;
  background: #fff;
}

.github-login{
  width: 335px !important;
  height: 60px !important;
  margin-left: 7px;
  margin-top: 5px;
}

#loginBtnImg {
	position: relative;
	top: 10px;
  bottom: 10px;
	width: 348px;
  height: 71px;
}
/******************/

/* Login Sucessfull Modal */
  .user-img{
    width: 100%;
  }
/******************/
.synopsis-row{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.modal-header{
  border-bottom: 1px solid #fff
}
.modal-footer{
  border-top: 1px solid #fff
}

/**** MEDIA QUERIES ***/
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {
  .form-group select{
    width: 230px;
  }
}
/*************************/
